# dependencies
node_modules/

# Next.js
.next/
out/

# production builds
dist/
build/

# environment
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/editor
.DS_Store
.vscode/
.idea/

# generated wasm artifacts
wasm/**/build/*
!wasm/**/build/.gitkeep

